.projects h3 {
  margin: 25px auto 5px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-div {
  display: grid;
  margin: 20px auto 30px;
  grid-template:
    "i t" 50px
    "i d" auto
    "i l" 30px
    / 400px auto;
  column-gap: 30px;
}

.projects-image {
  grid-area: i;
  max-width: 100%;
  height: auto;
}

.projects-title {
  grid-area: t;
}

.projects-description {
  grid-area: d;
}

.projects-links {
  grid-area: l;
  display: flex;
  justify-content: space-evenly;

  li {
    list-style: none;
  }
}

.projects-link {
  text-decoration: underline;
}

@media (width <= 780px) {
  .projects-div {
    display: block;
    margin: 20px auto;
  }

  .projects-title {
    margin: 5px auto 10px;
  }

  .projects-image {
    margin: 5px auto 10px;
  }

  .projects-description {
    margin: 5px auto 10px;
    max-width: 400px;
  }

  .projects-links {
    margin: 15px auto 0;
  }
}
