.presence {
  margin-top: 5px auto;
}

.presence h3 {
  margin: 15px auto;
  font-size: 1.5rem;
}

.presence-links {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
