.toggle.light {
  --toggle-border: #020301;
  --toggle-background: #439cd8;
  --sun-position: translateX(10.5px);
  --moon-position: translateX(-50px);
}

.toggle.dark {
  --toggle-border: #FDF9F3;
  --toggle-background: #1E215D;
  --sun-position: translateX(50px);
  --moon-position: translateX(-8px);
}

.toggle {
  transition: all 0.25s linear;
  background: var(--toggle-background);
  border: 2px solid var(--toggle-border);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  font-size: 0.5rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 0.2rem;
  position: relative;
  width: 36px;
  height: 28px;
}

.sun, .moon {
  height: 20px;
  width: 20px;
  transition: all 0.25s linear;
  flex: none;
}

.sun {
  transform: var(--sun-position);
}

.moon {
  transform: var(--moon-position);
}
