header {
  height: 137px;
  width: 100vw;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
}

header h2 {
  font-size: 1.3rem;
}

.header-text {
  height: 99px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav {
  padding: 3px 30px;
}

.navlinks {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks a {
  margin-bottom: 3px;
  font-size: 1.13rem;
}

@media (max-width: 475px) {
  header h2 {
    font-size: 0.9rem;
  }
  nav {
    padding: 3px 10px;
  }
}

@media (max-width: 375px) {
  header h2 {
    font-size: 0.7rem;
  }
}
