footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding: 0 10px;
}

.footer-links {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}