.showcase h3 {
  margin: 25px auto 5px;
  font-size: 1.5rem;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-div {
  display: grid;
  margin: 20px auto 30px;
  grid-template:
    "i t" 50px
    "i d" auto
    "i l" 30px
    / 400px auto;
  column-gap: 30px;
}

.showcase-image {
  grid-area: i;
  max-width: 100%;
  height: auto;
}

.showcase-title {
  grid-area: t;
}

.showcase-description {
  grid-area: d;
}

.showcase-links {
  grid-area: l;
  display: flex;
  justify-content: space-evenly;

}

.showcase-link {
  text-decoration: underline;
}

@media (width <= 780px) {
  .showcase-div {
    display: block;
    margin: 20px auto;
  }

  .showcase-title {
    margin: 5px auto 10px;
  }

  .showcase-image {
    margin: 5px auto 10px;
  }

  .showcase-description {
    margin: 5px auto 10px;
    max-width: 400px;
  }

  .showcase-links {
    margin: 15px auto 0;
  }
}
